@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  color-scheme: light dark;
  font-synthesis: none;

}




body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;




}

.bg-image {
  background-image: url('/shkola.jpg');
  background-size: cover;
}

.animation {
  animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.menu-btn {
  display: none;
}

.icons {
  display: flex;
}

h3 {
  font-size: 8px;
}

.min {
  width: 60%;
}


@media (max-width: 1000px) {
  a {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  a {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  .icons {
    display: none;
  }

  h3 {
    font-size: 13px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
  }

  .min {
    width: 10%;
  }









}