@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  color-scheme: light dark;
  font-synthesis: none;

}




body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  /* overflow-x: hidden; */



}

.bg-image {
  background-image: url('/shkola.jpg');
  background-size: cover;
}

.animation {
  animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.menu-btn {
  display: none;
}

.icons {
  display: flex;
}



.min {
  width: 60%;
}

.bg-popup {
  background-color: rgba(0, 0, 0, 0.7);
}


.prepage-contact {
  width: auto;
}

@media (max-width: 1400px) {
  .a-link {
    font-size: 16px;
  }



  .time-text {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .homepage-text {
    font-size: 65px;
    font-weight: 500;
    text-align: center;
  }

  .max-w-news-card-text {
    max-width: 60%;
    padding: 6px;
  }

  .news-card-text {
    width: 100%;
  }




}

@media (max-width: 1300px) {

  .a-link {
    font-size: 16px;
  }

  .time-text {
    display: none;
    text-align: center;
  }

  .homepage-text {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
  }

  .homepage-text-p {
    font-size: 48px;
    font-weight: 500;
    text-align: center;


  }

  .max-w-news-card {
    max-width: 80%;

  }

  .w-news-header {
    width: 80%;
  }

  .max-w-news-card-text {
    max-width: 60%;
    padding: 6px;
  }

  .news-card-text {
    width: 55%;
  }

  .news-card-image {
    width: 300px;

  }
}

@media (max-width: 1200px) {
  .a-link {
    font-size: 16px;
  }

  .time-text {
    display: none;
    text-align: center;
  }

  .homepage-text {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
  }

  .homepage-text-p {
    font-size: 48px;
    font-weight: 500;
    text-align: center;

  }

  .prepage-text {
    font-size: 34px;
    text-align: center;
  }

  .prepage-text-p {
    font-size: 27px;
    text-align: center;
  }

  .max-w-news-card {
    max-width: 85%;

  }

  .w-news-header {
    width: 85%;
  }

  .max-w-news-card-text {
    max-width: 60%;
    padding: 6px;
  }

  .news-card-text {
    width: 55%;
  }

  .news-card-image {
    width: 300px;

  }

  .w-newsId-image {
    width: 70%;
  }



}

@media (max-width:1150px) {
  .max-w-news-card {
    max-width: 94%;


  }

  .w-news-header {
    width: 94%;
  }

  .max-w-news-card-text {
    max-width: 65%;
    padding: 6px;
  }

  .news-card-text {
    width: 55%;
  }

  .news-card-image {
    width: 300px;

  }



}

@media (max-width: 1100px) {
  .a-link {
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .time-text {
    display: none;
    text-align: center;
  }


  .prepage-text {
    font-size: 30px;
    text-align: center;
  }

  .max-w-news-card {
    max-width: 90%;


  }

  .w-news-header {
    width: 90%;
  }

  .max-w-news-card-text {
    max-width: 60%;
    padding: 6px;
  }

  .news-card-text {
    width: 55%;
  }

  .news-card-image {
    width: 300px;

  }


}

@media (max-width: 1050px) {
  .a-link {
    font-size: 12px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .w-newsId-image {
    width: 70%;
  }




}

@media (max-width:980px) {
  .a-header {
    display: none;

  }



  .menu-btn {
    display: flex;
  }

  .enroll-button {
    display: none;
  }

  .icons {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;

  }

  .min {
    display: none;
  }

  .header-input {
    width: 40%;
  }

  .max-w-news-card {
    max-width: 90%;


  }

  .w-news-header {
    width: 90%;
  }

  .max-w-news-card-text {
    max-width: 60%;
    padding: 6px;
  }

  .news-card-text {
    width: 55%;
  }

  .news-card-image {
    width: 300px;

  }

  .w-newsId-image {
    width: 520px;
  }



}

@media (max-width:950px) {
  .max-w-news-card {
    max-width: 100%;

  }

  .w-news-header {
    width: 100%;
  }

  .max-w-news-card-text {
    max-width: 60%;
    padding: 6px;
  }

  .news-card-text {
    width: 55%;
  }

  .news-card-image {
    width: 300px;

  }

  .w-newsId-image {
    width: 70%;

  }
}

@media (max-width: 900px) {
  .a-header {
    display: none;
  }

  .a-table {
    display: flex;
    font-size: 20px;
    text-align: center;
  }

  .menu-btn {
    display: flex;
  }

  .icons {
    display: none;
  }

  h3 {
    font-size: 13px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
  }

  .min {
    width: 10%;
  }

  .header-input {
    width: 52%;
  }

  .time-text {
    display: none;
    text-align: center;
  }

  .grade-text {
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .lessonsTime-text {
    padding: 2px;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .homepage-text {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
  }

  .table-width {
    width: 100%;

  }

  .table-text {
    font-size: 16px;
    text-align: center;
  }

  .homepage-text-p {
    font-size: 39px;
    font-weight: 500;
    text-align: center;

  }

  .prepage-text {
    font-size: 30px;
    text-align: center;
  }

  .prepage-text-p {
    font-size: 23px;
    text-align: center;
    padding-top: 2px;
  }


  .prepage-li {
    font-size: 23px;
    /* text-align: center; */
  }

  .pdf {
    width: 100%;
  }

  .facebook-link {
    left: 0;
    top: 4px;
  }

  .contact-image-block {
    width: 36px;
    height: 36px;
  }

  .max-w-news-card {
    max-width: 60%;


  }

  .w-news-header {
    width: 60%;
  }

  .max-w-news-card-text {
    max-width: 97%;
    padding: 6px;
  }

  .max-w-news-card-text h2 {
    font-size: 20px;
  }

  .max-w-news-card-text p {
    font-size: 16px;
  }


  .news-card-text {
    width: 90%;
  }

  .news-card-image {
    width: 460px;

  }

  .w-newsId-image {
    width: 100%;
  }


  .contact-p {
    font-size: 19px;
  }










}

@media (max-width: 700px) {

  .max-w-news-card {
    max-width: 70%;


  }

  .max-w-news-card-text {
    max-width: 96%;
    padding: 6px;
  }

  .news-card-text {
    width: 75%;
  }

  .news-card-image {
    width: 400px;

  }

  .w-news-header {
    width: 70%;
  }

  .w-newId-text {
    width: 100%;

  }

  .w-newsId-image {
    width: 100%;
    background-size: cover;
  }



}

@media (max-width: 620px) {

  .max-w-news-card {
    max-width: 80%;


  }

  .max-w-news-card-text {
    max-width: 96%;
    padding: 6px;
  }

  .news-card-text {
    width: 75%;
  }

  .news-card-image {
    width: 400px;

  }

  .w-news-header {
    width: 80%;
  }
}

@media (max-width: 590px) {

  .max-w-news-card {
    max-width: 87%;



  }

  .w-news-header {
    width: 92%;
  }

  .max-w-news-card-text {
    max-width: 96%;
    padding: 6px;
  }

  .news-card-text {
    width: 75%;
  }

  .news-card-image {
    width: 400px;

  }
}

@media (max-width: 620px) {

  .max-w-news-card {
    max-width: 97%;



  }

  .max-w-news-card-text {
    max-width: 97%;
    padding: 6px;
  }

  .news-card-text {
    width: 97%;
  }

  .news-card-image {
    width: 400px;

  }
}





@media (max-width: 500px) {

  .max-w-news-card {
    max-width: 98%;


  }

  .max-w-news-card-text {
    max-width: 96%;
    padding: 6px;
  }

  .news-card-text {
    width: 75%;
  }

  .news-card-image {
    width: 400px;

  }
}

@media (max-width: 400px) {
  .prepage {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .a-header {
    display: none;
  }


  .a-table {
    display: flex;
    font-size: 15px;
    text-align: center;
  }





  .time-text {
    display: none;
    text-align: center;
  }

  .grade-text {
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .lessonsTime-text {
    padding: 2px;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .homepage-text {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
  }

  .homepage-text-p {
    font-size: 30px;
    font-weight: 500;
    text-align: center;

  }

  .prepage-text-p {
    font-size: 25px;
    text-align: center;
  }

  .pdf {
    width: 100%;
  }

  .navigation-header {
    padding: 0;
  }

  .table-width {
    width: 100%;
  }

  .table-text {
    text-align: center;
    font-size: 13px;

  }

  .max-w-news-card {
    max-width: 100%;


  }

  .max-w-news-card-text {
    max-width: 100%;
    padding: 6px;
  }

  .news-card-text {
    width: 75%;
  }

  .news-card-image {
    width: 400px;

  }

  .prepage-button-cont {
    width: 400px;
    display: flex;
    padding-left: 17px;

    justify-content: flex-start;
  }

  .prepage-button {
    width: 150px;
  }

  .prepage-button p {
    font-size: 15px;
  }

  .adress-text {
    font-size: 22px;
  }

  .w-news-header {
    width: 100%;
  }

  .w-newsId-image {
    width: 340px;
    height: 200px;

    background-size: cover;
  }











}

@media (max-width: 375px) {
  .navigation-header {
    padding: 0;
    width: 100%;
  }
}